@font-face {
    font-family: "Gotham-Medium";
    src: url("../fonts/Gotham-Medium.ttf");
}

@font-face {
    font-family: "Gotham-Light";
    src: url("../fonts/Gotham-Light.ttf");
}

@font-face {
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham-Book.ttf");
}

body {
    overflow-x: hidden;
}

.navbar {
    border: none;
    height: 80px;
}

.navbar .navbar-nav li {
    padding-top: 15px;
}

.navbar .navbar-nav li a {
    color: #fff;
    font-size: 14pt;
    font-family: "Gotham Medium";
    text-shadow: none;
    font-weight: none;
}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
    background: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.navbar .contact {
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar .contact a:hover, .navbar .contact a:focus {
    background: none;
    color: #fff;
}

.navbar-default {
    background-image: none;
    background: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-toggle {
    border: none;
    margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

#background {
    position: relative;
    height: 130vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#lines {
    position: absolute;
    width: 105%;
    height: 100%;
    margin-left: -5%;
    background-image: url("../images/scan_lines.png");
    background-size: 100%;
}

#darkened {
    position: absolute;
    width: 105%;
    height: 100%;
    margin-left: -5%;
    background-color: #000;
    opacity: 0.3;
}

#text-center-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 70%;
    margin: -10% 0 0 -35%;
}

#text-center-vertical h1 {
    color: #fff;
    font-size: 2.8em;
    line-height: 50px;
    letter-spacing: 1px;
}

#learn {
    position: absolute;
    bottom: 51px;
    left: 50%;
    top: 100%;
    margin-left: -90px;
    margin-top: -90px;
    background-color: #fbb031;
    font-family: "Gotham Light";
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16pt;
    width: 180px;
    height: 40px;
}

#learn:hover {
    transition: all .3s ease;
    font-family: "Gotham-Medium",sans-serif;
    background-color: #f9990f;
}

.coockie {
    position: absolute;
    bottom: 0;
    font-family: "Gotham Light", sans-serif;
    background-color: #413f3f;
    width: 105%;
    margin-left: -5%;
    font-size: 1.25em;
    color: #fff;
    height: 51px;
    padding: 0;
    line-height: 51px;
}

#cookie_policy {
    color: #fff;
    border-bottom: 1px solid;
}

#cookie_policy:hover {
    text-decoration: none;
}

.full {
    height: 100vh;
    position: relative;
}

#how_we_work {
    height: auto;
    padding-bottom: 70px;
    background-image: url("../images/back_how_we_work.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#squares {
    position: absolute;
    height: 100%;
    margin-left: -5%;
    background-image: url("../images/add_to_bg_work.png");
    background-size: 100%;
}

#squares img {
    padding-top: 20%;
    margin-left: 5%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#work_nav .navbar-collapse .navbar-nav li {
    border-color: #fbb031;
}

#work_nav .navbar-collapse .navbar-nav li a {
    font-family: "Gotham Light", sans-serif;
    font-size: 14pt;
    color: #000;
}

#work_nav .navbar-collapse .navbar-nav li a:hover, #work_nav .navbar-collapse .navbar-nav li a:focus {
    border-bottom: 1px solid;
}

#work_nav .navbar-collapse .navbar-nav li .orange_color {
    color: #fbb031;
}

#work_nav .navbar-collapse .navbar-nav li .cont {
    border: 1px solid #fbb031;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#recent_work .navbar-collapse .navbar-nav li {
    border-color: #fbb031;
}

#recent_work .navbar-collapse .navbar-nav li a {
    font-family: "Gotham Light", sans-serif;
    font-size: 12pt;
    color: #000;
}

#recent_work .navbar-collapse .navbar-nav li a:hover, #recent_work .navbar-collapse .navbar-nav li a:focus {
    border-bottom: 1px solid;
}

#recent_work .navbar-collapse .navbar-nav li .orange_color {
    color: #fbb031;
}

#recent_work .navbar-collapse .navbar-nav li .cont {
    border: 1px solid #fbb031;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-lg-7 h3, .col-md-7 h3, .col-sm-7 h3, .col-xs-7 h3 {
    font-family: "Gotham Medium", sans-serif;
    font-size: 48pt;
    font-weight: bold;
    color: #fff;
}

.col-lg-7 p, .col-md-7 p, .col-sm-7 p, .col-xs-7 p {
    font-family: "Gotham Book", sans-serif;
    font-size: 16pt;
    color: #fff;
    margin-top: 20px;
}

.col-lg-7 .no-padd, .col-md-7 .no-padd, .col-sm-7 .no-padd, .col-xs-7 .no-padd {
    padding: 0;
    margin-top: 20px;
}

.col-lg-7 .icons, .col-md-7 .icons, .col-sm-7 .icons, .col-xs-7 .icons {
    margin-top: 20px;
}

.col-lg-7 .icons_text, .col-md-7 .icons_text, .col-sm-7 .icons_text, .col-xs-7 .icons_text {
    padding: 0;
    margin: 0;
    font-family: "Gotham Medium", sans-serif;
    font-size: 16pt;
}

.learn_about {
    width: 240px;
    height: 40px;
    font-family: "Gotham Medium", sans-serif;
    font-size: 12pt;
    background: #f9990f;
    box-shadow: 3px 4px 10px #888888;
    color: #fff;
    border-radius: 100px;
    outline: none;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all .3s ease;
}

.learn_about:hover {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.marg20 {
    margin-top: 20px;
}

.marg20 p {
    font-family: "Gotham Book", sans-serif;
    font-size: 16pt;
    color: #000;
}

.marg20 h3, .marg20 h4 {
    font-family: "Gotham Medium", sans-serif;
    color: #fbb031;
}

.marg20 h3 {
    font-size: 48pt;
}

.marg20 h4 {
    font-size: 30pt;
}

footer {
    height: auto;
    margin: 0;
    padding: 0;
}

.upper-footer {
    background-image: url("../images/1.1.jpg");
    height: auto;
    overflow: hidden;
}

.upper-footer-text {
    font-family: "Gotham Medium", sans-serif;
    font-size: 16pt;
    float: left;
    margin-top: 35px;
    vertical-align: middle;
    color: #fff;
}

.bottom-footer {
    padding: 0 7%;
    height: auto;
    background-image: url("../images/2.1.jpg");
}

.mybtn {
    margin: 30px 0;
    border-radius: 100px;
    background: #f9990f;
    color: #fff;
    width: 230px;
    height: 40px;
    outline: none;
    border: none;
    font-family: "Gotham Medium" sans-serif;
    font-size: 12pt;
    transition: all .3s ease;
}

.mybtn:hover {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.marr {
    padding: 0 -10px;
}

.no-padd-all {
    padding: 0;
}

.img-right img {
    margin-left: 20px;
}

.marg10 {
    margin-top: 35px;
    margin-bottom: 30px;
}

.marg10 p {
    margin-top: 10px;
    color: #fff;
    font-family: Gotham-Light, sans-serif;
    font-size: 14pt;
}

.bottom-footer .marg10 {
    border-bottom: 1px solid #fff;
}

.bottom-footer p {
    font-size: 1em;
}

.list-bot {
    margin-top: 35px;
}

.list-bot li {
    list-style: none;
    margin-top: 5px;
    font-family: "Gotham Light", sans-serif;
    font-size: 14pt;
}

.list-bot li a {
    color: #fff;
    text-decoration: none;
}

.list-bot li a:hover {
    border-bottom: 1px solid #fff;
}

.par-bot p {
    font-family: "Gotham Light", sans-serif;
    font-size: 1em;
    color: #fff;
}

.last-block {
    padding: 0;
}

.last-block p {
    margin: 0;
    padding: 0;
    background: #413f3f;
    color: #fff;
    font-family: "Gotham Light", sans-serif;
    font-size: 14pt;
}

.block_disp {
    margin-top: 30px;
}

.block_disp .fa-circle {
    color: #fff;
}

.block_disp .fa-stack-1x {
    color: #555555;
}

.text_bot {
    margin-top: 10px;
    color: #fff;
    font-family: "Gotham Light";
    font-size: 1.1em;
}

/*# sourceMappingURL=style.css.map */
